<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="w-full h-screen leading-5">
    <nav
      class="nav flex justify-between w-full px-2 py-4 font-sans tx-base font-normal text-zinc-50"
    >
      <div class="flex justify-evenly basis-1/6">
        <span class="font-bold headlink link">Personal</span>
        <span class="headlink link">Business</span>
      </div>
      <div class="center-nav basis-2/3 flex justify-center gap-4">
        <a href="" class="no-underline text-sm link">Send Money</a>
        <a href="" class="no-underline text-sm link">Converter</a>
        <a href="" class="no-underline text-sm link">Currency API</a>
        <a href="" class="no-underline text-sm link">Tools</a>
        <a href="" class="no-underline text-sm link">Resources</a>
      </div>
      <div class="login basis-1/6 flex justify-evenly">
        <button class="link">Sign Up</button
        ><button class="btn px-6 py-2 font-normal rounded-lg">Log in</button>
      </div>
    </nav>
    <div *ngIf="currencies">
      <h2 class="underline">Currency List</h2>
      <ul>
        <li *ngFor="let currency of currencies.php | keyvalue">
          {{ currency.key }} - {{ currency.value }}
        </li>
      </ul>
    </div>
  </body>
</html>
